@model Stompmap.Models.Map

@{
    ViewData["Title"] = "See";
}

<div id="map-canvas"></div>

@section Scripts {
    <script>
        var mapOptions = {
            zoomLevel : @Model.ZoomLevel,
            mapCentreLat : @Model.CentreLatitude,
            mapCentreLng : @Model.CentreLongtitude
            };
        var stompsUrl = @Model.Id + "/Stomps"


        //google.maps.event.addDomListener(window, 'load', function() {
        //    drawMapFromRest(stompsUrl, mapOptions);
        //});

        document.addEventListener("DOMContentLoaded", function(event) {
            $("footer").hide();
            drawMapFromRest(stompsUrl, mapOptions);
        });

    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="~/lib/js-xlsx/xlsx.js"></script>
    <script src="~/js/loadingSpreadsheet.js"></script>
    <script src="~/js/mainScript.js"></script>
}